@media (max-width: $breakpoint)
  .menu
    margin-left: -70px
    transition: .6s

  .toggle-menu
    position: absolute
    z-index: 2
    margin-left: 5px
    width: 30px
    height: 30px
    background: url("../images/menu.png")
    background-size: cover

  .header__items
    justify-content: space-around
    margin-top: 30px
    padding: 0

  .header__item
    @include flexBox(center, center, column)
    margin: 0
    font-size: 13px

  .content
    width: 100%

  .counts
    grid-template-columns: 1fr

  .graph
    @include flexBox(normal, normal, column)

  .graph__header
    @include flexBox(normal, normal, column)
    min-height: 200px

  .graph__periods
    justify-content: space-around

  .graph__items
    @include flexBox(space-around, normal, column)
    flex-wrap: wrap

  .graph__item,
  .graph__period
    margin: 0
    text-align: center

  .graph__prices
    flex-direction: column

  .graph__price
    margin: 15px 0

    &:first-child
      border-right: 0

    &:last-child
      border-left: 0

@media (min-width: $breakpoint) and (max-width: 960px)
  .content
    width: 100%

    .menu
      display: flex

  .counts
    grid-template-columns: 1fr 1fr 1fr