@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap')

@import "variables.sass"
@import "navigation/_menu"
@import "navigation/_header"
@import "main/main-block"

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  font-family: 'Roboto', sans-serif

.container
  display: flex

.content
  width: 100%
  background-color: $bg-color