.header
  height: 70px
  background-color: $bg-panels-color

.header__items
  @include flexBox(normal, center)
  padding-left: 25px
  box-sizing: border-box

.header__item
  @include flexBox(normal, center)
  border-bottom: 2px solid transparent
  height: 70px
  min-width: 95px
  margin-right: 40px
  list-style: none
  color: #d3d3d3
  font-size: 15px
  cursor: pointer
  &:hover,
  &:hover .path
    border-bottom: 2px solid $graph-hover-color
    color: $graph-hover-color
    fill: $graph-hover-color

.header__icon
  margin-right: 10px

