@import "./graph/_graph"

.main-block
  background-color: $bg-color
  padding: 10px

.toggle-row__btn
  width: 117px
  height: 42px
  border: none
  border-radius: 4px
  outline: none
  background-color: $bg-panels-color
  font-size: 15px
  color: #8c8c8c